* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 450px;
    margin: 40px auto;
    border: 2px solid red;
    border-radius: 10px;
    animation-name: Anirudh;
    animation-duration: 15s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}




@keyframes Anirudh {
    0% {
        background-image: url("/Images/Anirudh1.jpg");
        background-size: cover;
    }

    25% {
        background-image: url("/Images/Anirudh2.jpg");
        background-size: cover;
    }

    50% {
        background-image: url("/Images/Anirudh3.jpg");
        background-size: cover;
    }

    75% {
        background-image: url("/Images/Anirudh4.jpg");
        background-size: cover;
    }

    100% {
        background-image: url("/Images/Anirudh5.jpg");
        background-size: cover;
    }
}

nav {
    text-align: center;
    padding: 10px;
    background-color: orange;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

nav .logo img {
    width: 100px;

}

.list ul {
    list-style: none;
}

nav .list ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.list ul li {
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 5px;
}

nav .list ul li a {
    color: white;
    text-decoration: none;

}

nav h1 {
    color: white;
    font-size: 30px;
}

nav h1:hover {
    animation-name: h1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

nav .list ul li:hover {
    background-color: black;
}

@keyframes h1 {
    0% {
        color: brown;
    }

    25% {
        color: red;
    }

    50% {
        color: yellowgreen;
    }

    75% {
        color: dodgerblue;
    }

    100% {
        color: darkorange;
    }
}

.audio {
    padding: 5px;
    background: orange;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    float: right;
}

.audio h2 {
    margin: 15px;
}